.l-wrap{
    margin: 0 auto;
    &--full{
        width: 1440px;
    }
    &--inner{
        width: 1180px;
    }
    &--footer{
        width: 1100px;
    }

    &--about{
        display: flex;
        justify-content: start;
    }
}

@media screen and (max-width:1180px) {
    .l-wrap{
        margin: 0 auto;
        &--full{
            width: 100%;
        }
        &--inner{
            width:100%;
        }
        &--footer{
            width: 100%;
        }
    }
}
